 mat-toolbar {
  //margin: auto;
  //background-color: #E7E9FE;
  position: fixed;
  z-index: 1;
}

 .btn {
  width: 600px;
  margin: auto;
 }

.tab {
  min-width: 500px;
  margin: auto;
}

 .example-container {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
 }

 mat-sidenav {
   width: 400px;
 }
 .example-events {
   width: 300px;
   height: 200px;
   overflow: auto;
   border: 1px solid #555;
 }