.example-card {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}



.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.container {
  //margin: 40px;
  //float: right;
  //width: 92%;
  //height: 100%;
}

mat-card:hover {
  background-color: #F7F7FB;
}
mat-card-header {
  margin-bottom: 25px;
}

mat-card-actions {
  //margin-top: 60px;
}
a {
  color: black;
}