

<form class="example-form">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="Student"><h2>Student</h2></mat-button-toggle>
  <mat-button-toggle value="teacher"><h2>Teacher</h2></mat-button-toggle>
</mat-button-toggle-group>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="username" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
  <input matInput type="password" placeholder="password" required>
  </mat-form-field>
  <button mat-flat-button color="primary">Log In</button>
  <button mat-flat-button color="primary" class="btn-space">Register Now</button>
</form>


