.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
form {
  width: 75%;
  margin: 10% auto auto;
}

.btn-toggle {
  width: 75%;
  margin: 10% auto auto;
}

.btn-space {
  margin-left: 5%;
}

.mat-button-toggle-checked {
  background-color: #ff4081;
  color: white;
  height: 50px;
  text-align: center;

}
h2 {
  margin: auto;
}
mat-button-toggle-group {
  border-radius: 1px 25px;
  margin-left: 30%;
}
