<div>
<h1>Student Register</h1>
<form class="example-form" id="student">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="username" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="password" placeholder="password" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="password" placeholder="confirm password" required>
  </mat-form-field>
  <button mat-flat-button color="primary">Register</button>
  <button mat-flat-button color="primary"class="btn-space">Register Teacher</button>
</form>
</div>



