<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="username" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="password" placeholder="password" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="password" placeholder="confirm password" required>
  </mat-form-field>
  <button mat-flat-button color="primary">Register</button>
</form>

<!-- -->
