<div mat-dialog-content>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="class id">
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="assignment Name">
    </mat-form-field>
</div>
<div>
    <h3>Notes to Students:</h3>
    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>
